<h1>Hello Liquid world - {{ section.settings }}</h1>

{% schema %}
{
    "name": "First section created",
    "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "Here put whatever you want!"
        }
        {
            "id": "liquid-checkbox",
            "type": "checkbox",
            "label": "Checkbox in Liquid"
        }
    ],
    "templates": ["index", "page", "product"],
    "presets": [
        {
            "name": "Liquid Reference",
            "category": "Reference"
        }
    ]
}
{% endschema %}