<h1>Hello Liquid world</h1>



{% schema %}
{
    "name": "First section created by Liquid",
    "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "Here put whatever you want!"
        }
    ],
    "templates": ["index", "page", "products"]
}
{% endschema %}