<h1>Hello Liquid world</h1>



{% schema %}
{
    "name": "First section created",
    "settings": [
        {
            "id": "liquid-ref",
            "type": "text",
            "label": "Here put whatever you want!"
        }
    ],
    "templates": ["index", "page", "product"],
    "presets": [
        {
            "name": "Liquid Reference",
            "category": "Reference"
        }
    ]
}
{% endschema %}